/*** Announcement ***/
.side .usertext h4{
  position:absolute;
  display: block;
  top:35px;
  right:15px;
  color: #0a1520;
  text-align: left;
  margin-left:15px;
  width: 268px;
  height:44px;
  font-weight: normal;
  padding: 8px 15px;
  z-index:9001;
  background-repeat:no-repeat;
  border: 2px solid #b2cee7;
  background-color: #C5DAED;
}  
/*** End of Announcement ***/